In [33]:
import json
import pandas as pd
import sqlalchemy
import cx_Oracle

In [34]:
cx_Oracle.init_oracle_client('C:\oracle\instantclient_21_6')

ProgrammingError: Oracle Client library has already been initialized

In [104]:
engine = sqlalchemy.create_engine("oracle+cx_oracle://c##riskarea:Ben800208@124.221.228.171:1524/ORCLCDB")
sql_str = "select * from (select to_char(PUBLIC_DATE,'YYYY-MM-DD') as PUBLIC_DATE,PUBLIC_TIME,hcount,mcount from IDX_RISKAREA order by UPDATE_TIME desc) where rownum<=30"
df = pd.read_sql_query(sql_str,engine)

In [105]:
df

   public_date  public_time  hcount  mcount
0   2022-10-02           18     751     734
1   2022-10-02           13     778     741
2   2022-10-01           15     879     724
3   2022-09-30           12     882     673
4   2022-09-29           11     898     716
5   2022-09-28           15     841     699
6   2022-09-27           16     822     709
7   2022-09-26           11     761     854
8   2022-09-25           20     687     820
9   2022-09-24           11     650     805
10  2022-09-23           10     601     777
11  2022-09-22           10     737     810
12  2022-09-21           11     729     805
13  2022-09-20           11     797     869
14  2022-09-19           13     959     919
15  2022-09-18           13    1007    1041
16  2022-09-17           10    1179    1111

In [113]:
d = '2022-10-02'
d in list(df['public_date'])

True

In [135]:
dt = df[df['public_date'] == '2022-10-01']
print(dt)

  public_date  public_time  hcount  mcount
2  2022-10-01           15     879     724

KeyboardInterrupt

In [145]:
dt.iloc[0,1]

15

In [ ]:
public_date = dt.loc[0]['public_date']
public_time = dt.loc[0]['public_time']
hcount = dt.loc[0]['hcount']
mcount = dt.loc[0]['mcount']

In [133]:
hcount

751

In [36]:
engine = sqlalchemy.create_engine("oracle+cx_oracle://c##riskarea:Ben800208@124.221.228.171:1524/ORCLCDB")
sql_str = "select * from (select PUBLIC_DATE,PUBLIC_TIME,hcount,mcount from IDX_RISKAREA order by UPDATE_TIME desc) where rownum<=30"
# 得到近30天索引数据
df = pd.read_sql_query(sql_str, engine)
df

   public_date  public_time  hcount  mcount
0   2022-10-02           18     751     734
1   2022-10-02           13     778     741
2   2022-10-01           15     879     724
3   2022-09-30           12     882     673
4   2022-09-29           11     898     716
5   2022-09-28           15     841     699
6   2022-09-27           16     822     709
7   2022-09-26           11     761     854
8   2022-09-25           20     687     820
9   2022-09-24           11     650     805
10  2022-09-23           10     601     777
11  2022-09-22           10     737     810
12  2022-09-21           11     729     805
13  2022-09-20           11     797     869
14  2022-09-19           13     959     919
15  2022-09-18           13    1007    1041
16  2022-09-17           10    1179    1111

In [70]:
import datetime
dated = map(lambda x: datetime.datetime.strftime(x, "%Y-%m-%d"),df['public_date'])

In [80]:
ts = datetime.datetime.strptime('2022-10-02','%Y-%m-%d')

In [85]:
pt = pd.Timestamp('2022-10-02')

In [93]:
pt

Timestamp('2022-10-02 00:00:00')

In [92]:
datetime.datetime.strftime(df['public_date'][0])

Timestamp('2022-10-02 00:00:00')

In [71]:
datelist = list(dated)

In [72]:
'2022-10-02' in datelist

True

In [12]:
with open('data/risk_data 2022-10-02 13时.log','r',encoding='utf-8') as risk_file:
    data_dict = json.load(risk_file)

In [13]:
public_date_str = data_dict['data']['end_update_time'].split()[0]
public_time_int = int(data_dict['data']['end_update_time'].split()[1][0:-1])
hcount = int(data_dict['data']['hcount'])
mcount = int(data_dict['data']['mcount'])
lcount = int(data_dict['data']['lcount'])

In [31]:
engine = sqlalchemy.create_engine("oracle+cx_oracle://c##riskarea:Ben800208@124.221.228.171:1524/ORCLCDB")
# 新建空白df 包括5个字段
df = pd.DataFrame(data=None, columns=['public_date', 'public_time', 'hcount', 'mcount', 'lcount'])
df['public_date'] = [pd.to_datetime(public_date_str, format='%Y-%m-%d')]
df['public_time'] = [public_time_int]
df['hcount'] = [hcount]
df['mcount'] = [mcount]
df['lcount'] = [lcount]
#设置字段值，注意date字段
type_list = {'public_date':sqlalchemy.Date(),'public_time':sqlalchemy.Integer(),'hcount':sqlalchemy.Integer(),'mcount':sqlalchemy.Integer(),'lcount':sqlalchemy.Integer()}
df

  public_date  public_time  hcount  mcount  lcount
0  2022-10-02           13     778     741     143

In [32]:
#写入数据库
df.to_sql('idx_riskarea', engine,index=False, if_exists='append',dtype=type_list)
print('写入数据库完成')

写入数据库完成

In [17]:
df = pd.DataFrame(data=None, columns=['public_date', 'public_time', 'hcount', 'mcount', 'lcount'])
df['public_date'] = public_date_str
df['public_time'] = public_time_int
df['hcount'] = hcount
df['mcount'] = mcount
df['lcount'] = lcount

In [30]:
pd.to_datetime(public_date_str, format='%Y-%m-%d')

Timestamp('2022-10-02 00:00:00')